.post-thumbnail img {
	width: 100%;
	height: auto;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.button {
	@include button;
	&.white {
		background-color: $background_color;
		a {
			color: $black;
		}
	}
	&.yellow {
		background-color: $yellow;
		a {
			color: $black;
		}
	}
}

.border-gradient-sunrise {
	border-image-source: linear-gradient(to bottom, #8f0d56, #ef4c39, #ffde16);
	border-style: solid;
	border-image-slice: 1;
	border-width: 5px;
}
