.post-thumbnail img {
	width: 100%;
	height: auto;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.button,
button,
.btn,
.wp-block-button a,
.at-submit,
.btn-at .btn-at-primary {
	@include button;
	&.white {
		background: $background_color;
		color: $black;
	}
	&.yellow {
		background: $yellow;
		color: $black;
	}
}

.acf-hidden {
	display: none;
}

.admin-bar {
	.site-header.fixed-menu {
		margin-bottom: 64px;
	}
	.fixed-top {
		@include media-breakpoint-up(md) {
			top: 32px !important;
		}
	}
}

.site-header.fixed-menu {
	margin-bottom: 64px;
}

.entry-content {
	min-height: 300px;
}

$section-padding: 100px 0;

@include media-breakpoint-down(md) {
	$section-padding: 60px 0;
}

.section-padding {
	padding: $section-padding;
}

//alignment

.alignwide,
.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
	position: relative;
}

.alignfull {
	width: 100%;
	max-width: 100%;
	padding-right: 17.5px;
	padding-left: 17.5px;
}

.alignwide {
	margin: 0 auto;
	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "xl");
		width: map-get($container-max-widths, "xl");
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: 100%;
		padding-right: 17.5px;
		padding-left: 17.5px;
	}
}

//Grid

.entry-content
	> *:not(.alignwide):not(.alignfull):not(.getwid-section-content-full-width):not(.wp-block-columns) {
	margin: 0 auto 1rem auto;

	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "md");
		width: map-get($container-max-widths, "md");
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: 100%;
		padding-right: 17.5px;
		padding-left: 17.5px;
	}
}

main article .entry-content .wp-block-columns {
	margin: 0 auto 2rem auto;
	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "lg");
		width: map-get($container-max-widths, "lg");
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		margin: 0 0 1rem 0;
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: 100%;
		padding-right: 17.5px;
		padding-left: 17.5px;
	}

	.wp-block-columns {
		max-width: 100%;
		width: 100%;
	}

	&.alignwide {
		@include media-breakpoint-down(xl) {
			max-width: map-get($container-max-widths, "xl");
			width: map-get($container-max-widths, "xl");
		}
	}
	&.alignfull {
		width: 100%;
		max-width: 100%;
		padding-right: 17.5px;
		padding-left: 17.5px;
	}
}

.wp-block-getwid-section {
	overflow: hidden;
	&.alignfull {
		padding: 0;
	}
}

.wp-block-getwid-section
	.wp-block-getwid-section__wrapper
	.wp-block-getwid-section__inner-wrapper {
	margin: 0 auto;

	.wp-block-columns.alignwide {
		@include media-breakpoint-down(xl) {
			max-width: map-get($container-max-widths, "xl");
			width: map-get($container-max-widths, "xl");
		}
	}
	.wp-block-columns.alignfull {
		@include media-breakpoint-down(xl) {
			width: 100%;
			padding-right: 17.5px;
			padding-left: 17.5px;
		}
	}
	.wp-block-columns {
		@include media-breakpoint-down(xl) {
			max-width: map-get($container-max-widths, "md");
			width: map-get($container-max-widths, "md");
		}

		@include media-breakpoint-down(md) {
			width: 100%;
			padding-right: 17.5px;
			padding-left: 17.5px;
		}
	}
	.wp-block-getwid-section__inner-wrapper {
		@include media-breakpoint-down(xl) {
			max-width: map-get($container-max-widths, "md");
			width: map-get($container-max-widths, "md");
		}

		@include media-breakpoint-down(md) {
			width: 100%;
			padding-right: 17.5px;
			padding-left: 17.5px;
		}
	}
}

.wp-block-getwid-section.alignwide
	.wp-block-getwid-section__wrapper
	.wp-block-getwid-section__inner-wrapper {
	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "xl");
		width: map-get($container-max-widths, "xl");
	}
}

.wp-block-getwid-section.alignfull
	.wp-block-getwid-section__wrapper
	.wp-block-getwid-section__inner-wrapper {
	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "xl");
		width: map-get($container-max-widths, "xl");
	}
}

.narrow-container {
	margin: 0 auto;

	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "md");
		width: map-get($container-max-widths, "md");
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		padding-right: 17.5px;
		padding-left: 17.5px;
	}
}

.wp-block-column {
	@include media-breakpoint-down(md) {
		padding: 0 1em 60px 1em;
	}
	.wp-block-column {
		padding: 0;
	}
}
