.post-thumbnail img {
	width: 100%;
	height: auto;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.button,
button,
.btn,
.wp-block-button a,
.at-submit,
.btn-at .btn-at-primary {
	@include button;
	&.white {
		background: $background_color;
		color: $black;
	}
	&.yellow {
		background: $yellow;
		color: $black;
	}
}

.unbutton-link {
	padding: 0;
	background: transparent;
	color: $primary;
	inline-size: fit-content;
	&yellow {
		color: $yellow;
	}
	&:hover {
		background: transparent;
		color: $primary;
	}
	a,
	div {
		@include reverse-underliner;
		padding: 0;
		background: transparent;
		&:hover {
			background: transparent;
		}
	}
}

.acf-hidden {
	display: none;
}

.admin-bar {
	.site-header.fixed-menu {
		margin-bottom: 64px;
	}
	.fixed-top {
		@include media-breakpoint-up(md) {
			top: 32px !important;
		}
	}
}

.site-header.fixed-menu {
	margin-bottom: 64px;
}

$section-padding: 100px 0;

@include media-breakpoint-down(md) {
	$section-padding: 60px 0;
}

.section-padding {
	padding: $section-padding;
}

//alignment

.alignwide,
.alignfull {
	max-width: 100vw;
	width: 100vw;
	position: relative;
}

.alignfull {
	width: 100%;
	max-width: 100%;
	padding-right: 17.5px;
	padding-left: 17.5px;
}

.alignwide {
	margin: 0 auto;
	@include media-breakpoint-down(xl) {
		max-width: map-get($container-max-widths, "xl");
		width: map-get($container-max-widths, "xl");
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: 100%;
	}
}
