.post-thumbnail img {
	width: 100%;
	height: auto;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.button,
button {
	@include button;
	&.white {
		background: $background_color;
		color: $black;
	}
	&.yellow {
		background: $yellow;
		color: $black;
	}
}

.acf-hidden {
	display: none;
}
.admin-bar {
	.site-header.fixed-menu {
		margin-bottom: 64px;
	}
	.fixed-top {
		top: 32px !important;
	}
}

.site-header.fixed-menu {
	margin-bottom: 64px;
}
