/*--------------------------------------------------------------
# Notes

- @extend the `.btn` class instead of manually adding `.btn` classes to all form elements

--------------------------------------------------------------*/

.has-sunrise-magenta-color {
	color: $purple;
}

.has-sunrise-magenta-background-color {
	background-color: $purple;
}

.has-sunrise-gold-color {
	color: $yellow;
}

.has-sunrise-gold-background-color {
	background-color: $yellow;
}

.has-sunrise-red-color {
	color: $red;
}

.has-sunrise-red-background-color {
	background-color: $red;
}

.has-sunrise-grey-color {
	color: $gray-sunrise;
}

.has-sunrise-grey-background-color {
	background-color: $gray-sunrise;
}

.has-sunrise-white-color {
	color: $white;
}

.has-sunrise-white-background-color {
	background-color: $white;
}

.has-sunrise-orange-color {
	color: $orange;
}

.has-sunrise-orange-background-color {
	background-color: $orange;
}

.has-sunrise-green-color {
	color: $green;
}

.has-sunrise-green-background-color {
	background-color: $green;
}

.has-sunrise-background-dark-color {
	color: $sunrise-background-dark;
}

.has-sunrise-background-dark-background-color {
	background-color: $sunrise-background-dark;
}

.has-sunrise-background-light-color {
	color: $sunrise-background-light;
}

.has-sunrise-background-light-background-color {
	background-color: $sunrise-background-light;
}

@mixin background-graident {
	background: rgb(143, 13, 86);
	background: -moz-linear-gradient(
		180deg,
		rgba(143, 13, 86, 1) 0%,
		rgba(239, 76, 57, 1) 35%,
		rgba(255, 222, 22, 1) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(143, 13, 86, 1) 0%,
		rgba(239, 76, 57, 1) 35%,
		rgba(255, 222, 22, 1) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(143, 13, 86, 1) 0%,
		rgba(239, 76, 57, 1) 35%,
		rgba(255, 222, 22, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f0d56",endColorstr="#ffde16",GradientType=1);
}
