/*--------------------------------------------------------------
# Notes

- @extend the `.btn` class instead of manually adding `.btn` classes to all form elements

--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend .form-control;
}

select {
	@extend .form-control;
}

textarea {
	@extend .form-control;
}

@mixin background-graident {
  background: rgb(143,13,86);
  background: -moz-linear-gradient(180deg, rgba(143,13,86,1) 0%, rgba(239,76,57,1) 35%, rgba(255,222,22,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(143,13,86,1) 0%, rgba(239,76,57,1) 35%, rgba(255,222,22,1) 100%);
  background: linear-gradient(180deg, rgba(143,13,86,1) 0%, rgba(239,76,57,1) 35%, rgba(255,222,22,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f0d56",endColorstr="#ffde16",GradientType=1);
}
