.wp-block-getwid-section
	.wp-block-getwid-section__wrapper
	.wp-block-getwid-section__inner-wrapper {
	@include media-breakpoint-down(xl) {
		max-width: map-get($grid-breakpoints, "xl");
	}
	@include media-breakpoint-down(lg) {
		max-width: map-get($grid-breakpoints, "lg");
	}
	@include media-breakpoint-down(md) {
		max-width: map-get($grid-breakpoints, "md");
	}
	@include media-breakpoint-down(sm) {
		max-width: map-get($grid-breakpoints, "sm");
	}
}

.card-type {
	color: $gray-700;
	font-size: 14px;
	font-family: $font-family-serif;
	font-style: italic;
}

.wp-block-button__link {
}

.custom-post-type-campaign,
.wp-block-getwid-custom-post-type.has-layout-list {
	overflow: visible;
	@include media-breakpoint-up(md) {
		@include offset-gradient-border;
	}
	&:after {
		top: 180px;
		left: -50px;
		right: 0;
		height: 60%;
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.wp-block-getwid-custom-post-type__post {
		@include media-breakpoint-up(md) {
			&:nth-child(even) {
				margin-top: 60px;
			}
		}
	}
	.card {
		border: 0 solid;
		@include drop-shadow;

		.wp-block-getwid-custom-post-type__post-wrapper {
			display: flex;
			flex-direction: row;
			align-items: unset;
			height: 100%;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
		}
		.post-thumbnail {
			height: 100%;
		}
		.card-img {
			float: left;
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 260px;
			}
		}
		.card-body.wp-block-getwid-custom-post-type__content-wrapper {
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 60%;
			}
			float: left;
			padding: 2rem !important;
		}

		img {
			@include media-breakpoint-up(md) {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
		.excerpt {
			font-size: $font-size-base;
			color: $black;
		}
		button {
			margin-top: 1rem;
		}
	}
}

.wp-block-getwid-post-carousel,
.wp-block-getwid-custom-post-type.has-layout-grid {
	overflow: visible;
	.slick-next {
		right: -35px;
		@include media-breakpoint-down(md) {
			right: 15px;
		}
	}
	.slick-prev {
		left: -45px;
		@include media-breakpoint-down(md) {
			left: 0;
		}
	}
	.slick-next,
	.slick-prev {
		top: 40%;
		width: 150px;
		height: 70px;
	}
	.slick-next:before,
	.slick-prev:before {
		color: $white;
		font-size: 36px;
		opacity: 1;
	}
	.slick-list {
		overflow: visible;
	}
	.card {
		background-color: $sunrise-background-dark;
		&:hover {
			text-decoration: none;
		}
		border-radius: 0;
		border: 0px solid;
		font-family: $font-family-sans-serif;
		@include drop-shadow;
		&:hover {
			box-shadow: none;
			transition: 0.4s all;
		}
		.card-body {
			width: 100%;
			padding: 1rem;
		}
		.card-img-top {
			height: 170px;
			object-fit: cover;
		}
		.event-timing {
			width: 30%;
			float: left;
			color: $black;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
		.excerpt {
			padding: 0 0 20px 0;
			color: $black;
		}
		.event-title {
			width: 64%;
			margin-top: 8px;
			margin-left: 10px;
			color: $black;
			float: left;
		}
		.dates {
			font-size: 1.9rem;
		}
	}
}

.wp-block-getwid-custom-post-type {
	.card {
		border: 0px;
	}
}
