@mixin button {
	text-transform: uppercase;
	padding: 12px 13px;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	background: $primary;
	margin: auto 0;
	display: inline-flex;
	margin-right: 1rem;
	text-transform: uppercase !important;
	border: 0 solid;
	border-radius: 0px;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	color: $white;
	transition: 0.4s opacity ease;
	&:hover {
		opacity: 0.8;
		transition: 0.4s opacity ease;
	}
}

@mixin underliner {
	position: relative;
	text-decoration: none;
	transition: 0.25s all ease-out;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		&:after {
			width: 100%;
		}
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.15rem;
		height: 0.15rem;
		background-color: $primary;
		width: 0;
		transition: 0.25s all ease-out;
		display: block;
	}
}

@mixin reverse-underliner {
	position: relative;
	text-decoration: none;
	transition: 0.25s all ease-out;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		text-decoration: none;
		&:after {
			width: 0;
		}
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.15rem;
		height: 0.15rem;
		background-color: $primary;
		transition: 0.25s all ease-out;
		display: block;
		width: 100%;
	}
}

@mixin interior-shadow {
	box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
}

@mixin drop-shadow {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

@mixin border-gradient-sunrise {
	border-image-source: linear-gradient(to bottom, #8f0d56, #ef4c39, #ffde16);
	border-style: solid;
	border-image-slice: 1;
	border-width: 5px;
}

@mixin affordance {
	&::before {
		position: absolute;
		left: calc(50% - 21px);
		bottom: -36px;
		content: "";
		display: block;
		background-image: url(assets/img/affordance.svg);
		z-index: 200;
		@include media-breakpoint-down(md) {
			display: none;
		}
		width: 40px;
		height: 56px;
		background-repeat: no-repeat;
	}
}

@mixin offset-gradient-border {
	&:after {
		@include border-gradient-sunrise;
		content: "";
		display: block;
		top: 7%;
		right: 30px;
		left: -20px;
		padding: 2rem;
		position: absolute;
		width: 110%;
		z-index: -1;
		height: 100%;
	}
}

@mixin highlighter {
	color: $black;
	height: 100%;
	width: 100%;
	padding: 0.01rem;
	box-sizing: content-box;
	display: inline;
	box-shadow: 10px 0 0 $yellow, -10px 0 0 $yellow;
}
@mixin dark-full-overlay {
	left: 0;
	top: 0;
	position: absolute;
	z-index: -10;
	width: 100%;
	bottom: 0;
	background-color: $black;
	overflow: hidden;
	@include media-breakpoint-down(md) {
		height: 100%;
	}
	&::before {
		content: ""; // ::before and ::after both require content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0.3;
		z-index: 1;
		mix-blend-mode: unset;
		@include media-breakpoint-down(md) {
			height: 100%;
			object-fit: cover;
		}
	}
	img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
}
