@mixin button {
	text-transform: uppercase;
	padding: 12px 13px;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	background-color: $primary;
	margin: auto 0;
	display: inline-flex;
	margin-right: 1rem;
	text-transform: uppercase !important;
	border: 0 solid;
}

@mixin underliner {
	position: relative;
	text-decoration: none;
	transition: 0.25s all ease-out;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		&:after {
			width: 100%;
		}
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.15rem;
		height: 0.15rem;
		background-color: $primary;
		width: 0;
		transition: 0.25s all ease-out;
		display: block;
	}
}

@mixin reverse-underliner {
	position: relative;
	text-decoration: none;
	transition: 0.25s all ease-out;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		text-decoration: none;
		&:after {
			width: 0;
		}
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.15rem;
		height: 0.15rem;
		background-color: $primary;
		transition: 0.25s all ease-out;
		display: block;
		width: 100%;
	}
}

@mixin interior-shadow {
	box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 2px 24px rgba(0, 0, 0, 0.25);
}

@mixin drop-shadow {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

@mixin border-gradient-sunrise {
	border-image-source: linear-gradient(to bottom, #8f0d56, #ef4c39, #ffde16);
	border-style: solid;
	border-image-slice: 1;
	border-width: 5px;
}
