/*--------------------------------------------------------------
# Notes

- @extend the `.btn` class instead of manually adding `.btn` classes to all form elements

--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend .form-control;
}

select {
	@extend .form-control;
}

textarea {
	@extend .form-control;
}

body .site {
	h1,
	h2 {
		font-weight: $font-weight-bolder;
		text-transform: uppercase;
		line-height: 1;
	}
}

h2 {
	@include media-breakpoint-down(md) {
		text-align: center;
		font-size: 2rem;
	}
}

body .entry-content {
	h1,
	h2,
	h3,
	h4 {
		line-height: 1.1;
	}
}

.display-type {
	margin-bottom: 1rem;
	line-height: 1.2;
	font-size: 4.11rem;
}

#breadcrumbs {
	font-size: $font-size-base;
	color: $yellow;
	font-style: italic;
	font-family: $font-family-serif;
	a {
		color: $yellow;
	}
}

p {
	@include media-breakpoint-down(md) {
		font-size: 1.2rem;
		line-height: 1.6;
	}
}

.type-page h1.entry-title {
	line-height: 0.9;
}

.h1-subhead {
	font-family: $font-family-base;
	font-style: italic;
	font-size: 1.167rem;
	font-weight: $font-weight-bold;
	text-transform: none;
}

.cat-links a {
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-bold;
	//@include reverse-underliner;
	font-size: 16px;
	margin-right: 0.7rem;
}
