/*--------------------------------------------------------------
# Notes

- @extend the `.btn` class instead of manually adding `.btn` classes to all form elements

--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend .form-control;
}

select {
	@extend .form-control;
}

textarea {
	@extend .form-control;
}

body .site .entry-content {
	h1,
	h2,
	h3,
	h4,
	h5 {
		line-height: 1.2;
		margin: 0 auto 1rem auto;
		@include media-breakpoint-up(lg) {
			max-width: map-get($container-max-widths, "md");
		}
	}

	h1,
	h2 {
		font-weight: $font-weight-bolder;
		text-transform: uppercase;
		line-height: 1;
		b {
			text-transform: uppercase;
		}
	}

	h2 {
		@include media-breakpoint-down(md) {
			text-align: center;
			font-size: 2rem;
		}
	}

	h3.has-text-align-center {
		@include media-breakpoint-down(md) {
			max-width: map-get($container-max-widths, "lg");
			width: map-get($container-max-widths, "lg");
			line-height: 1.3;
			margin: auto;
		}
	}

	h5 {
		font-family: $font-family-serif;
		font-size: 2em;
		font-weight: $font-weight-base;
	}

	p {
		line-height: 1.4;
		margin: 0 auto 1rem auto;
		@include media-breakpoint-up(lg) {
			max-width: map-get($container-max-widths, "md");
		}
		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
			line-height: 1.6;
		}
	}
	ul {
		padding-inline-start: 22px;
	}
}

.display-type {
	margin-bottom: 1rem;
	line-height: 0.9;
	font-size: 6.5rem;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

#breadcrumbs {
	font-size: $font-size-base;
	color: $yellow;
	font-style: italic;
	font-family: $font-family-serif;
	a {
		color: $yellow;
	}
}

.wp-block-columns {
	p,
	h1,
	h2,
	h3,
	h4,
	h5 {
		@include media-breakpoint-up(md) {
			width: 90%;
		}
	}
}

.type-page h1.entry-title {
	line-height: 0.9;
}

.h1-subhead {
	font-family: $font-family-base;
	font-style: italic;
	font-size: 1.167rem;
	font-weight: $font-weight-bold;
	text-transform: none;
}

.cat-links a {
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-bold;
	//@include reverse-underliner;
	font-size: 16px;
	margin-right: 0.7rem;
}
