.base-page,
.archive,
.campaign-template .campaign-page,
.campaign-template-default .campaign-page,
.error-404,
.search-results {
	.post-header {
		min-height: 260px;
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		padding: 80px;
		float: left;

		@include affordance;
		@include border-gradient-sunrise;
		@include media-breakpoint-down(lg) {
			background-image: none;
			min-height: unset;
			overflow: initial;
			padding: 4rem 0;
			//margin-top: 14px;
		}

		.container {
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			@include media-breakpoint-down(lg) {
				background-image: none;
			}
			@include media-breakpoint-up(lg) {
				.no-photo {
					.header-blocks {
						text-align: center;
					}
					.header-content {
						@include make-col(8);
					}
					@include media-breakpoint-up(lg) {
						.h1-subhead {
							text-align: center;
							justify-content: center;
						}
						.entry-title {
							text-align: center;
						}
						.button-row {
							text-align: center;
							justify-content: center;
							margin-left: auto;
						}
					}
				}
			}
			.header-row {
				align-items: center;
				bottom: 40px;
				@include media-breakpoint-down(lg) {
					position: relative;
					bottom: unset;
					h1 {
						font-size: 2.5rem;
					}
				}

				&.no-photo {
					@include media-breakpoint-up(lg) {
						.h1-subhead-row,
						.button-row {
							@include make-row();
							justify-content: center;
						}
						.entry-title {
							margin-left: unset;
						}
					}
				}

				.header-blocks {
					position: relative;
					@include media-breakpoint-up(lg) {
						text-align: left;
					}
					.post-thumbnail {
						max-height: 380px;
						overflow: hidden;
					}
					&.header-media {
					}
					&.header-media iframe,
					&.header-media img {
						@include drop-shadow;
					}
					&.header-content {
						.h1-subhead {
							b {
								@include highlighter;
								box-shadow: 10px 0 0 $black, -10px 0 0 $black;
								color: $white;
								margin-left: 4px;
								background-color: $black;
								padding: 4px 0px;
							}
						}

						.entry-title {
							@include media-breakpoint-down(lg) {
								margin-left: 8px;
							}
							b {
								@include highlighter;
								color: $black;
								margin-bottom: 1rem;
								line-height: 1.42;
								background-color: $yellow;
								@include media-breakpoint-down(lg) {
									margin-bottom: 20px;
								}
							}
						}
						.button-row {
							margin-top: 1rem;
							margin-left: -10px;
							@include media-breakpoint-down(lg) {
								margin-left: -2px;
							}

							button {
								margin-bottom: 1rem;
								margin-right: 0.5rem;
								&:nth-of-type(2) {
									background-color: $secondary;
								}
							}
						}
					}
				}
			}
		}
		.header-background-image {
			@include dark-full-overlay;
		}
	}
	article {
		float: left;
		width: 100%;
	}
}

.error-404,
.archive,
.search-results {
	.entry-content {
		padding: 60px 0 120px 0;
		width: 100%;
		float: left;
	}
	.post-header {
		min-height: unset;
	}
}
