.base-page,
.archive {
	.post-header {
		position: relative;
		width: 100%;
		padding: 80px;
		float: left;
		@include affordance;
		@include border-gradient-sunrise;
		@include media-breakpoint-down(md) {
			background-image: none;
			overflow: initial;
			padding: 150px 0;
			margin-bottom: 75px;
		}

		.container {
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			@include media-breakpoint-down(md) {
				background-image: none;
			}
			@include media-breakpoint-up(md) {
				.no-photo {
					.header-content {
						@include make-col(8);
					}
					@include media-breakpoint-up(md) {
						.h1-subhead {
							text-align: center;
							justify-content: center;
						}
						.entry-title {
							text-align: center;
						}
						.button-row {
							text-align: center;
							justify-content: center;
						}
					}
				}
			}
			.header-row {
				align-items: center;
				bottom: 40px;
				@include media-breakpoint-down(md) {
					position: relative;
					bottom: unset;
					h1 {
						font-size: 2.5rem;
					}
				}

				&.no-photo {
					@include media-breakpoint-up(md) {
						.h1-subhead-row,
						.button-row {
							@include make-row();
							justify-content: center;
						}
						.entry-title {
							margin-left: unset;
						}
					}
				}

				.header-blocks {
					position: relative;
					@include media-breakpoint-up(md) {
					}
					&.header-media {
						@include media-breakpoint-down(md) {
							position: absolute;
							bottom: -270px;
						}
					}
					&.header-media iframe,
					&.header-media img {
						@include drop-shadow;
						@include media-breakpoint-up(md) {
						}
					}
					&.header-content {
						.h1-subhead {
							b {
								@include highlighter;
								box-shadow: 10px 0 0 $black, -10px 0 0 $black;
								color: $white;
								margin-left: 4px;
								background-color: $black;
								padding: 4px 0px;
							}
						}

						.entry-title {
							margin-left: -12px;
							@include media-breakpoint-down(md) {
								margin-left: 8px;
							}
							b {
								@include highlighter;
								color: $black;
								margin-bottom: 1rem;
								line-height: 1.42;
								background-color: $yellow;
								@include media-breakpoint-down(md) {
									margin-bottom: 20px;
								}
							}
						}
						.button-row {
							margin-top: 1rem;

							button {
								margin-bottom: 1rem;
								margin-right: 1rem;
								&:nth-of-type(2) {
									background-color: $secondary;
								}
							}
						}
					}
				}
			}
		}
		.header-background-image {
			@include dark-full-overlay;
		}
	}
	article {
		float: left;
		width: 100%;
		margin: 4rem auto;
		.entry-content {
		}
	}
}
