.blog-header {
	.blog-bar {
		padding: inherit;
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
	}
	.blog-title {
		display: inline-block;
		a {
			color: $black;
		}
	}
	.blog-menu {
		display: inline-block;
		margin-top: 3px;
		li {
			display: inline-block;
			margin-right: 1rem;
			a {
				color: $primary;
				font-family: $font-family-sans-serif;
				text-transform: uppercase;
				font-weight: $font-weight-bold;
				@include underliner;
			}
		}
	}
}

.content-area {
	article {
		.post-thumbnail {
			max-height: 350px;
			overflow: hidden;
		}
		header {
			&:after {
				width: 100%;
				content: "";
				height: 5px;
				background-image: url("assets/img/gradient-border-bottom.svg");
				background-size: cover;
				background-size: contain;
				background-repeat: no-repeat;
				display: block;
			}
		}

		h1 {
			font-family: $font-family-serif;
			font-weight: $font-weight-base;
			font-size: 3.3rem;
			@include media-breakpoint-down(md) {
				font-size: 2.2rem;
			}
		}
		h3 {
			font-style: italic;
			padding: 0.2rem 0 1rem;
			font-size: 20px;
		}
		.entry-meta {
			font-size: 1.2rem;
			padding-bottom: 1.6rem;
			display: flex;
			flex: 1;
			justify-content: space-between;
			@include media-breakpoint-down(md) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				.entry-details {
					text-align: left;
					margin-bottom: 1rem;
				}
			}
		}

		.entry-share {
			margin-top: -14px;
			.social-menu {
				@include media-breakpoint-down(md) {
					padding: 0;
				}
			}
			li {
				a {
					background-color: $gray-sunrise;
				}
				svg {
					height: 20px;
					width: 20px;
					fill: $white;
				}
			}
		}

		.cat-links {
			margin: 2rem 0 0.5rem 0;
			display: block;
		}
	}
}

.post-footer {
	margin: 3rem 0;
	.border-gradient-sunrise {
		padding: 60px;
		text-align: center;
		align-items: center;
		display: flex;
		.post-footer-text {
			margin-bottom: 1rem;
		}
	}
}

.content-sidebar,
.post-footer {
	article {
		text-align: left;
		transition: 0.3s all;
		&:hover {
			opacity: 0.8;
			transition: 0.3s all;
			cursor: pointer;
		}
		float: left;
		width: 100%;
		.post-thumbnail img {
			width: 75px;
			height: 75px;
			float: left;
		}
		.entry-header {
			float: left;
			width: calc(100% - 75px);
			padding-left: 10px;
			font-size: 5px;
			color: $black;
		}
		.cat-links {
			font-size: 12px;
			width: 100%;
			color: $purple;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-bold;
		}
		.entry-title {
			font-size: 18px;
			line-height: 1.2;
		}
		.entry-meta {
			font-size: 12px;
			font-weight: $font-weight-bold;
			margin-top: 5px;
			color: $gray-sunrise;
		}
	}
}
